.slide-show {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: white;
  filter: drop-shadow(0 0 3px rgba(0,0,0,0.5));
  z-index: 3;
  transition: opacity 0.15s;
}

.arrow:hover {
  cursor: pointer;
  opacity: 0.7;
}

.arrow-left {
  left: 1rem;
}

.arrow-right {
  right: 1rem;
}

@media screen and (max-width: 600px) {
  .arrow {
    width: 1.4rem;
    height: 1.4rem;
    opacity: 0.8;
  }

  .arrow-left {
    left: 0.5rem;
  }

  .arrow-right {
    right: 0.5rem;
  }
}

.slide-selections {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.selection {
  background-color: black;
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 100%;
  border: none;
  outline: none;
  margin: 0 0.3rem;
  cursor: pointer;
  padding: 0;
  z-index: 2;
}

.selection-inactive {
  background-color: #aaa;
}
