@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Permanent+Marker&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

h1 {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem 100%;
}

.navItem {
  margin: 0 1rem;
}

.toggle {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  height: 5vh;
  width: 43rem;
  border: none;
  background-color: white;
  box-shadow: 0.1rem 0.1rem 0rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: large;
  padding: 0 1rem 0 1rem;
  position: relative;
}

.arrow {
  text-align: right;
  width: 100%;
  font-size: 3vh;
  color: grey;
}

.projectTitle {
  text-align: left;
  width: 100%;
}

.projectContent {
  /* display: flex;
  flex-direction: row; */
  text-align: left;
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  width: 43rem;
  background-color: white;
  z-index: -1;
  border-radius: 0.5rem;
}

.projectDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.descriptionText {
  margin: 0;
  padding: 0 1rem 1rem 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

.profilePic {
  box-shadow: 0.1rem 0.1rem 1.3rem rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.intro {
  display: flex;
  flex-direction: row;
  align-items: left;
  text-align: left;
  margin: 5rem 0 0.5rem 0;
  font-family: 'Permanent Marker', cursive;
  background-color: white;
  padding: 4vh 6.1rem;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
}

.intro-text {
  margin: 3vh;
}

.social-media-banner {
  display: inline-block;
}

.icon-button {
  margin: 0 1vh;
}

.introParagraph {
  align-items: left;
  text-align: left;
  background-color: white;
  padding: 4vh 3vh;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
  max-width: 40rem;
}

.letMeIntroduce {
  margin-bottom: 2.5rem;
}

.projectImages {
  /* display: flex;
  flex-direction: column; */
  padding: 0 1rem 1rem 1rem;
}

/* table {
  font-family: 'Courier New', Courier, monospace;
}

.table {
  border-collapse: collapse;
  border: none;
  width: 100%;
}

.tableRowHeader {
  background-color: transparent;
  transition: all 0.25s ease;
  border-radius: 10px;
}

.tableHeader {
  background-color: #f1f1f1f3;
  padding: 12px;
  font-weight: bold;
  text-align: left;
  font-size: 14px;
  color: #202c38;
}

.tableHeader:first-child {
  border-top-left-radius: 15px;
}

.tableHeader:last-child {
  border-top-right-radius: 15px;
}

.tableRowItems {
  cursor: auto;
}

.tableRowItems:nth-child(odd) {
  background-color: #ffffff;
}

.tableCell {
  padding: 12px;
  font-size: 14px;
  color: #202c38;
  text-align: left;
} */